body{
    font-family: 'Poppins', sans-serif;
    
}
.upper-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;


}
.text-area{
    padding-left: 5%;
    margin-top: 10%;
    
}
.half-width img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 50px;
    
}
.skip-color{
    color: orange;
}
.button-link{
    color: white;
    background-image: linear-gradient(orange,rgb(215, 56, 28));
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    
}
